/* src/index.css */
/* This file is intentionally minimal as Tailwind CSS is loaded via CDN in public/index.html */
/* You can add any custom global styles here if needed, but Tailwind handles most of it. */

body {
  margin: 0;
  font-family: "Inter", sans-serif; /* Fallback to sans-serif */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
